---
import Layout from "../layouts/Layout.astro";
import TituloComponents from "../components/TituloComponents.astro";
import CardComponents from "../components/CardComponents.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
  <HeroSection />
  <div class="container mx-auto px-4 py-20">
    <TituloComponents text="Discos" stilo="text-black-500" />
    <div class="grid grid-cols-4 gap-8 justify-items-center">
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/r2.jpg"
        alt="Album de black sabbath"
        title="Vol. 4"
        subtitle="Black Sabbath"
        detail="Ver Detalle "
      />
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/at1.jpg"
        alt="Album de nirvana"
        title="Nevermind"
        subtitle="Nirvana"
        detail="Ver Detalle "
      />
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/at2.jpg"
        alt="Album de radiohead"
        title="OK Computer"
        subtitle="Radiohead"
        detail="Ver Detalle "
      />
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/at3.jpg"
        alt="Album de foo fighters"
        title="The color and the shape"
        subtitle="Foo Fighters"
        detail="Ver Detalle "
      />
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/r5.jpg"
        alt="Album de black sabbath"
        title="Sabotage"
        subtitle="Black sabbath"
        detail="Ver Detalle "
      />
      <CardComponents
        href="https://open.spotify.com/intl-es/album/47pjW3XDPW99NShtkeewxl?si=ZiLMOLjwTRmHsZO9Nu8vag"
        img="assets/r6.jpg"
        alt="Album de ozzy osbourne"
        title="Blizzard of Ozz"
        subtitle="Ozzy Osbourne"
        detail="Ver Detalle "
      />
      
    </div>
  </div>
</Layout>
