---
import Layout from "../layouts/Layout.astro"
import HeroSlider from "../components/heroSlider.astro"
import Personaje from "../components/Personaje.astro"
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <Personaje/>
    </div>

</Layout>
