---
import NavMenuComponents from "./NavMenuComponents.astro";

---

<header class="bg-sky-700">
  <div class="container mx-auto h-20">
    <div class="flex flex-row justify-between items-center h-full">
      <div>
           <h1 class="text-white text-3xl">Logo</h1>
      </div>
      <NavMenuComponents/>
    </div>
  </div>
</header>