---
import { Image } from 'astro:assets';
import Imagen1 from '../assets/slide1.jpg';
---

<section class="w-full flex justify-center my-10">
  <div class="w-[90vh] rounded-xl overflow-hidden relative">
    <Image src={Imagen1} alt="Slide 1" class="w-full h-full object-cover" />
  </div>
</section>