---

---

<div class="w-full  text-left ">
  <div>
    <img src="" alt="logo">
  </div>
  <p class="text-white leading-relaxed">Tu portal de música desde.</p>
  <p class="text-white leading-relaxed">
    Contenido seguro y actualizado para todo Chile.
  </p>
</div>
